.btn_refresh {
  width: 40px;
  height: 40px;
  margin: 10px;
  background: $button-orange;
  border-radius: 4px;
  color: $light;
  border: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: $button-orange-hover;
  }

  .icon-refresh {
    padding: 0;
  }
}

.btn_orange {
  width: 125px;
  height: 40px;
  margin: 20px auto;
  background: $button-orange;
  border-radius: 4px;
  border: none;
  color: $light;
  font-weight: 300;
  cursor: pointer;
  transition: $transition;

  @include displayFlex ($align-items: center, $justify-content: center);

  &:hover {
    background-color: $button-orange-hover;
  }
}
