.menu {
  background: $dark;
  position: fixed;
  z-index: 1;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  right: auto;
  line-height: 40px;
  text-align: left;
  transition: $transition;

  .mobile {
    display: flex;
    flex-direction: row;
  }

  .logo {
    padding: 20px 0 0 20px;
  }

  .hamburger {
    display: inline-block;
    padding: 20px;
    cursor: pointer;

    .menu_hamburger {
      width: 25px;
      height: 2px;
      background-color: $gray-darkness;
      margin: 6px 0;
    }
  }

  &_links {
    list-style-type: none;
    padding-left: 0;
  }

  &_link {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    color: $gray-darkness;
    font-weight: 300;
    border-left: $dark 5px solid;
    cursor: pointer;
  }

  .active,
  .menu_link:hover {
    border-left: $button-orange 5px solid;
    color: $gray-light;
    background-color: lighten($dark, 10%);
  }

  [class^='icon-'] {
    vertical-align: middle;
  }

  span.menu_page {
    vertical-align: middle;
    padding-left: 20px;
  }

  .user {
    height: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    font-size: 14px;
    color: $gray-darkness;
    border-top: 1px solid lighten($dark, 10%);

    h3 {
      font-weight: 400;
    }

    &_menu {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 10px;
      color: $link;

      &:hover {
        color: $link-hover;
      }
    }

    &_picture {
      padding-top: 10px;
    }
  }
}

@media (max-width: 576px) {
  .menu {
    width: 60px;
    height: 53px;
    background: $light;
    top: -5px;

    .menu_links,
    .user,
    .logo {
      display: none;
    }
  }

  .menu.show {
    height: 100%;
    width: 100%;
    background: $dark;

    .menu_links,
    .user {
      display: block;
    }
  }

  .main {
    margin: 80px 0 0 20px;
    width: calc(100% - 40px);
  }
}
