.header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  height: 60px;
  width: 100%;
  padding: 0;
  background-color: $light;
  border-bottom: 1px solid $gray-light;

  .topbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $gray-light;
      position: relative;
      font-size: 18px;
    }

    &_button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: none;
      padding: 19px 15px;
      cursor: pointer;
      color: $gray-darkness;
      font-family: $main-font;

      .icon-arrow-down-small {
        font-size: 12px;
        padding-left: 18px;
        padding-top: 10px;
      }
    }

    &_name {
      color: $link;
      font-size: 14px;
      padding-bottom: 4px;
    }
  }

  [class^='icon-'] {
    padding: 0 10px 0 5px;
  }
}
